{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
<div class='container-fluid'>
  <div class="row about" id="about">
    <div class="col-md-6">
      <img
        src="{% static 'images/Voting-amico.png' %}"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
    <div class="col-md-6 ">
      <div class="about-section text-center mt-5">
         <p>
          E-Poll is an online voting system that allows
          secure conduction of the electrol process. We provide a high-quality online voting
          system that balances ballot security, accessibility, and the overall
          requirements of an organization's voting event.
        </p>
        <p>
          The process is ,secure and transparent anchored by the 
          increasingly shift to online processes. It's only logical for voting to
          transition to a digital platform too. Common features include
          single-vote verification, which ensures members don't inadvertently
          vote more than once; ballot tracking, which monitors the exact moment
          a ballot is processed; a secure network to protect the entire process
          from nominations to tabulation; and secret ballots, which keep ballots
          private.
        </p>
      </div>
    </div>
  </div>
  <!-- Bootstrap JavaScript -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"
  ></script>
</body>
