{% load static %}
<header class="main-header" style="background-color:#219ebc; color: #fff; font-family: 'Poppins', sans-serif;">
  <a href="{% url 'administrator:adminDashboard' %}" class="logo"  style="background-color:#219ebc !important;">
     <span class="logo-lg"  style="background-color:#219ebc !important;"><b> E-Poll </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top"  style="background-color:#219ebc !important;">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle d-flex justify-content-start" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav" >
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{% static 'images/female avatae.png' %}" class="user-image" alt="User Image">
            <!-- <span class="hidden-xs">{{ request.user }}</span> -->
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#profile" data-toggle="modal" class="btn btn-default btn-flat" id="admin_profile">Update</a>
              </div>
              <div class="pull-right">
                <a href="{% url 'accounts:account_logout' %}" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

{% include "bio.html" %}