{% load static %}

<aside class="main-sidebar " style="background-color: #023047; color: #fff; font-family: 'Poppins', sans-serif;">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{% static 'images/female avatae.png' %}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ request.user }}</p>
        <a><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      {% if request.user.user_type == '1' %}


      <li class="header" style="background-color: #219ebc; color: #fff; font-family: 'Poppins', sans-serif;"> REPORTS
      </li>
      <li class="text-white"><a href="{% url 'administrator:adminDashboard' %}"><i class="fa fa-dashboard"></i>
          <span>Dashboard</span></a></li>
      <li class="text-white"><a href="{% url 'administrator:viewVotes' %}"><span class="glyphicon glyphicon-lock"></span>
          <span>Votes</span></a></li>
      <li class="text-white"><a href="{% url 'administrator:adminViewVoters' %}"><i class="fa fa-users"></i>
          <span>Voters</span></a></li>
      <li class="text-white"><a href="{% url 'administrator:viewPositions' %}"><i class="fa fa-tasks"></i>
          <span>Positions</span></a></li>
      <li class="text-white"><a href="{% url 'administrator:viewCandidates' %}"><i class="fa fa-black-tie"></i>
          <span>Candidates</span></a></li>
      <li class="text-white"><a href="{% url 'administrator:ballot_position' %}"><i class="fa fa-file-text"></i> <span>Ballot
            Position</span></a></li>


      {% endif %}


      <li class=""><a class="text-white" href="{% url 'accounts:account_logout' %}"><i class="fa fa-arrow-left"></i>
          <span>Logout</span></a></li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>