{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>E-Poll Voting System</title>
  {% endif %}
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>E-Poll Voting System</title>
  {% endif %}
  <link rel="icon" href="" type="image/png">

  {% block styles %}
  {% bootstrap_css %}
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
  <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %} ">


  {% endblock %}
</head>

<body class="hold-transition login-page">
  {% block content %}

  {% endblock content %}
  <!-- jQuery 3 -->
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <!-- iCheck 1.0.1 -->
  <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
  <!-- DataTables -->
  <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <!-- SlimScroll -->
  <script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
  <!-- FastClick -->
  <script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
  <!-- Data Table Initialize -->
  <script src="{% static 'toastr/toastr.min.js' %}"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
  <script>
    $(function () {
      $('#example1').DataTable()
      var bookTable = $('#booklist').DataTable({
        'paging': true,
        'lengthChange': false,
        'searching': true,
        'ordering': true,
        'info': false,
        'autoWidth': false
      })

      $('#searchBox').on('keyup', function () {
        bookTable.search(this.value).draw();
      });

    })
  </script>
  {% if messages %}
  {% for message in messages  %}
  <script type=text/javascript> console.log('error message'); toastr.{{ message.tags }}('{{ message }}') </script>
    {% endfor %} {% endif %} </body> </html>