{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <img src="/static/images/Voting-amico.png" class="img-fluid" alt="Voter Image">
        </div>
        <div class="col-md-6 col-lg-6 form-voter">

            <form action="{% url 'accounts:accounts_register' %}" method="POST">
                <h1 class="h3 mb-3 fw-normal text-center pt-4">Register as a Voter</h1>
                <hr class="w-100 " style="color:#ffb703;">

                <br><br>
                {% csrf_token %}


                <div class="modal-body">
                    {% for field in form1  %}
                    <div class="form-group has-feedback">
                        <span class="text-danger">{{field.errors}}</span>
                        {{field.label_tag}}
                        {{field}}
                    </div>
                    {% endfor %}

                    {% for field in form2  %}
                    <div class="form-group has-feedback">
                        <span class="text-danger">{{field.errors}}</span>
                        {{field.label_tag}}
                        {{field}}
                    </div>
                    {% endfor %}
                    <div class="btns mt-5">

                        <button type="submit" class="btn btn-lg text-center" name="login"><i
                                class="fa fa-sign-in"></i> Register</button>
                        <a class=" btn btn-lg mx-1 text-center" href="{% url 'accounts:accounts_login' %}"><i
                                class="fa fa-upload"></i> Log In</a>

                    </div>
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="{% url 'accounts:accounts_register' %}" method="POST">
                            {% csrf_token %}

                            <div class="modal-header">
                                <p class="modal-title" id="register">Create New Account <span class="float-right">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </span></p>

                            </div>
                            <div class="modal-body">
                                {% for field in form1  %}
                                <div class="form-group has-feedback">
                                    {{field.errors}}
                                    {{field.label_tag}}
                                    {{field}}
                                </div>
                                {% endfor %}

                                {% for field in form2  %}
                                <div class="form-group has-feedback">
                                    {{field.errors}}
                                    {{field.label_tag}}
                                    {{field}}
                                </div>
                                {% endfor %}




                            </div>
                            <div class="modal-footer">
                                <button type="none" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" name="reg"
                                    onclick="return confirm('Are you sure the details provided are correct?\nYou will NOT be allowed to make modifications.')"
                                    class="btn btn-primary">Save</button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
