@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
footer{
    font-family: 'Poppins', sans-serif;
    background-color: #023047 !important;
}
.socials a{
    font-size: 28px;
}